@charset "UTF-8";

:root{
    --main-color:#fdf6e3 ;
    --sub-color: #89cff0 ;
    --accent-color: #333333;
}


*{
    background-color: var(--sub-color);
    color: var(--main-color);
}


/* ------------------------------------------------ */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    z-index: 100;
    position: fixed;
}

header h1 a{
    font-size: 24px;
    color: var(--main-color);
    height: 50px;
}

header ul{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-family:"oswald", sans-serif;
    color: var(--main-color);
}



/* ------------------------------------------------ */





/*問い合わせボタン */
.inq{
    width: 125px;
    border: 1px solid var(--accent-color);
    border-radius: 120px;
    padding: 5px;
    text-align: center;
    color: var(--main-color);
}

.kv{
    position: relative;
    background-color: var(--sub-color);
    width: 100%;
    height: 100vh;
}

.kv div{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.kv h2{
    font-size: 70px;
    color: var(--main-color);
}

.kv span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}

.kv p{
    margin-top: 10px;
    font-size: 20px;
    color: var(--main-color);
}

/*------------ kv ----------------*/




/* ------------------------------------------------ */




section{
    padding: 160px 40px;
    color: var(--main-color);
    text-align: center;
}

section h2{
    text-align: center;
    font-size: 24px;
}

#message div{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

#message div img{
    width: 50%;
    height: 50vh;
    object-fit: cover;
}

/*-------------- message --------------------*/

#about{
    text-align: center;
}

#about h2{
    text-align: center;
    font-size: 24px;
}

.about{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.about div{
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid var(--main-color);
}

/*------------- about --------------------*/

#course{
    text-align: center;
}

#course h2{
    font-size: 24px;
}

.course{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
article{
    width: calc((100% - 40px) / 3);
    border: 1px solid var(--main-color);
    padding: 20px;
}

/* ------------ course ------------------------ */

.member{
    display: flex;
    margin-top: 50px;
}

/* ------------ achievements -------------- */